body {
  margin: 0px;
}

.hero {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.heroInfo {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 5%;
}

.heroInfo h1 {
  margin: 0px;
  font-size: 80px;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.heroInfo h3 {
  margin: -8px;
  font-size: 80px;
  color: black;
  margin-left: 0.5%;
  font-family: "Sacramento", cursive;
}

.heroInfo p {
  margin: 4px;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.heroInfo span {
  margin: 4px;
  font-size: 16px;
  color: grey;
  width: 65%;
}

.navName {
  font-size: 32px;
  padding: 20px;
  text-transform: lowercase;
  font-family: "Sacramento", cursive;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  height: 90px;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 5%;
}

.navAbout {
  background-color: #64feca;
  height: 90px;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navAbout:hover {
  opacity: 80%;
}

a {
  text-decoration: none;
  color: white;
}

.experience {
  background-color: #00ffab;
  height: 90px;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience:hover {
  opacity: 80%;
}

.education {
  background-color: #14c38e;
  height: 90px;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.education:hover {
  opacity: 80%;
}

.more {
  background-color: rgb(14, 157, 109);
  height: 90px;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more:hover {
  opacity: 80%;
}

.portfolio {
  background-color: rgb(6, 136, 93);
  height: 90px;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio:hover {
  opacity: 80%;
}

.contact {
  background-color: rgb(1, 105, 71);
  height: 90px;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact:hover {
  opacity: 80%;
}

.imgNav {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 32px;
}

.sign {
  display: flex;
}

.imgHero {
  margin-right: 5%;
  width: 80%;
}

@media screen and (max-width: 996px) {
  .hero {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .imgHero {
    display: none;
  }

  .navAbout {
    display: none;
  }

  .experience {
    display: none;
  }

  .education {
    display: none;
  }

  .more {
    display: none;
  }

  .portfolio {
    background-color: rgb(6, 136, 93);
    height: 90px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact {
    background-color: rgb(1, 105, 71);
    height: 90px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
